<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <title>같이 여행가자</title>
        <style type="text/css">

            .wrap {
                width: 900px;
                margin: auto;
            }
            #map {
            width: 700px;
            height: 500px;
            margin: 50px auto 50px auto;
            }
            #card-box {
                text-align: left;
            }


        </style>


        <script>
            function searchPlace(){
                let searchWord = $('#word').val();
                $('#card-box').empty();
                $.ajax({
                    type: "GET",
                    url: `/api/search?searchWord=${searchWord}`,
                    data: {},
                    success: function (response) {
                        console.log(response)
                        let getPlace = response["items_list"]["items"];
                        let displayItem = response["items_list"]["display"]
                        if (displayItem == 0){
                            alert("검색할 수 없습니다.")
                        }
                        else {
                            if(displayItem == 1) {
                                alert( "1개만 검색되었습니다.\n선택한 장소가 맞는지 확인 후 아니면 검색값을 수정해주세요" )
                            }
                            else{alert('등록을 원하는 업체를 선택해 주세요 \n 선택한 장소가 맞는지 확인 후 아니면 검색값을 수정해주세요')}
                            for (let i = 0; i < displayItem; i++) {
                                let category = getPlace[i]['category']
                                let roadAddress = getPlace[i]['roadAddress']
                                let title = getPlace[i]['title']
                                let mapx = getPlace[i]['mapx']
                                let mapy = getPlace[i]['mapy']
                                console.log(title)
                                let tempHtml = `
+                                       <div class="card mb-3" style="max-width: 800px; margin: auto" >
                                        <div class="row no-gutters">
                                        <div class="col-md-8" >
                                        <div class="card-body">
                                            <h5 class="card-title" id="title">${title}</h5>

                                            <p class="card-text" id="roadAddress">${roadAddress}</p>
                                            <p class="card-text"><small class="text-muted" id="category">${category}</small></p>
                                            <button class="btn btn-primary" type="button" onclick="location.href='place_save.html'">검색</button>
                                        </div>
                                        </div>
                                        </div>
                                        </div>`
                                $('#card-box').append(tempHtml)
                            }
                        }
                    }
                })
            }

            function PlaceSaveHtml() {

                }}


        </script>

    </head>

    <body>
        <div class = "wrap">
        <h5 class="display-4">강아지와 함께하는 장소 검색</h5>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="원하는 장소를 검색하세요" aria-label="Recipient's username" aria-describedby="basic-addon2" id="word">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-lg active" type="button" onclick="searchPlace()">검색</button>
                </div>
            </div>
        </div>
        <div id="card-box"></div>


    </body>
</html>