<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>같이 여행가자</title>

        <script>
        $(document).ready(function() {
            const urlParams = new URLSearchParams(location.search);
            const title = urlParams.get('title');
            $('#space-title').html(title);
        });
    </script>

            <style type="text/css">

            .wrap {
                width: 900px;
                margin: auto;
            }
            #map {
            width: 700px;
            height: 500px;
            margin: 50px auto 50px auto;
            }
            #card-box {
                text-align: left;
            }

        </style>


</head>
<body>

    <div class = "wrap">
        <h5 class="display-4">새로운 장소 저장</h5>
        <fieldset disabled>
            <div class="form-group" disabled>
                <label for="disabledTextInput">장소명: <span id="space-title"></span></label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder=title>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">저장하기</button>


</div>
</body>
</html>